@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.card-child-container {
  height: 250px;
}

.card-child-container div img {
  height: 250px;
  object-fit: cover;
}

.map-container#map-container {
  position: fixed;
  height: 100vh;
  right: 0;
}

div .img-thumbnail {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#img-container > img {
  margin-bottom: 30px;
  width: 100%;
  object-fit: contain;
}

.card-body {
  padding: 0.5rem;
}

.topic.map-container {
  width: 100%;
  height: 400px;
}


.body-container {
  white-space: pre-line;
  font-family: 'Roboto', sans-serif;
  line-height: 2rem;
  font-size: 1.2rem;
}

.card-container {
  display: table;
}

.card-container div.row {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-right h5 {
  font-size: 1rem !important;
}

.card-right .description {
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: center;
}

.admin-options {
  max-height: 100px !important;
}

/* .active--success {
  background-color: ;
} */